@import 'partials/setup';
@import 'partials/variables';
@import 'partials/header';
@import 'partials/about';
@import 'partials/portfolio';
@import 'partials/skills';
@import 'partials/contact';
@import 'partials/brand';
@import 'partials/footer';
@import 'partials/responsive';


* {
		margin: 0;
		padding: 0;
		border: 0;
		outline: 0;
		font-size: 100%;
		vertical-align: baseline;
		background: transparent;
    }

html{
	font-family: $baseFont;
}

body {
	background: $bgColorBase;

}

.wrapper{
	width: 70%;
	margin: 0 auto;
	position:relative;
	left:0%;
	margin-top: -0px;
}

#about{
	left:0%;
}
// Slide-in menu
ul.menu {
	background: $primaryColor;
	position: fixed;
	z-index: 2;
	width: 30%; 
	right: -30%; 
	top: 0;
	height: 100%;
	transition: all 0.5s;
	li{
		margin-bottom: 15%;
		padding-right: 10%;
	}
}
input#toggle-menu:checked + ul.menu {
	right: 0%;

}
input#toggle-menu{
	display: none;
}
input#toggle-menu:checked ~ .container {
	opacity: 0.5;
}

button.close__button{
	box-shadow: 0 0 0 0;
	width: 150px;
}

.menu {
	button{
		margin-top: 40px;
		width: 150px;
		margin-left: 10%;
		background:white;
		color:$textColor;
			i, 
			h5{ 
			display: inline-block;
				outline: none;
			
		}
			i{ 
			padding-right: 10px;
			
		}
			
	}
	a h3{
		color:white;
		text-align: right;
		transition: all 0.2s;
	}
	h3:hover{
			transform: scale(1.1);
	}

}

button{
	padding: 10px;
	height:60px;
	width: 200px;
	border-radius: 50px ;
}


ul{
	list-style-type: none;
	padding:0;
}

a{
	text-decoration: none;
}

h1{
	color: $primaryColor;
	font-size: 3.75rem;
}

h2{
	font-size: 3rem;
	color:$textColor;	
}
h3{
	font-size: 1.7rem;
}
h4{
	font-size: 1.7rem;
}

h5{
	text-transform: uppercase;
}

p{
	color:$textColor;	
	font-size: 14px;
	line-height: 2;
}

