header{
  padding-bottom:205px;
}
header{
  background: $bgColorBase;
  i{
    color:$primaryColor;
  }
  h5,
  .menu__button h5{
    color: $primaryColor;
    display: inline-block;  
    padding-left: 10px;
  }
  .menu__button{
    background: $primaryColor;
    width: 150px;
    position: fixed;
    top:40px;
    right:15%;
    z-index: 1;
    box-shadow: 0 0 0 0;
    
  }
  .menu__button i{
    color:white;
  }
  .menu__button h5{
    font-size: 14px;
    color: white;

  }
}

h1{
  margin-top: 150px;  

}

.header__button--scroll{
  margin-top: 35px;

}
button{
  border: none;
  box-shadow: 2px 5px 25px 0px rgb(240, 239, 239); 
}

.header__nav{
  margin-right: 50px;
  padding-top: 40px;
}
ul.header__social{
  margin-right: 150px;
  @include parent-flex-row;
  justify-content: flex-end;
  li{
    padding: 20px;
    i{
      color: $textColor;
      font-size: 2rem;
      transition:all 0.2s;
    }
    i:hover{
      color: $primaryColor;
      transform: scale(1.1)
    }
  }
}
ul#menu__social{
 display: none;
}

