

#portfolio{
  margin:100px 0;
  .wrapper{
    @include parent-flex-row;
    flex-wrap: wrap;
  }
  h2{
    text-align: center;
    margin:50px;
  }
  h3{
    color: $textColor;
    margin: 10px 0px;
    font-size: 1.5rem;
  }
  i{
    font-size: 50px;
    margin-bottom: 25px;
  }
  
  figcaption h5{
    text-transform: capitalize;
    font-size: 25px;
  }
  .portfolio__details{
    padding: 50px;
    padding-bottom: 0;
    p{
      margin-bottom: 25px;

    }
  }
  .portfolio__details--technologies{
    flex-wrap:wrap;
   li{
         margin-bottom:10px;
         i{
        font-size:16px;
        }
     a{
       color:$primaryColor;
     }
   } 
  }
  .portfolio__details--live{
    display:none;
  }
}


#portfolio{
  figure{
    position: relative;
    background-color: $primaryColor;
    img{
      max-width: 100%;
      display: block;
      position: relative;
    }
    figcaption{
      position: absolute;
      top: 30%;
      left: 0;
      width: 100%;
      text-align: center;
      opacity: 0;
      color: #fff;
      z-index: 1;
        a,
        a:visited{
        h5{
        color: #fff;
        }
        i{
          color: #fff;
        }
      }
    }

  }
  figure:hover img {
    opacity: 0.25;
    transition: all .8s ease;
  }
  figure:hover figcaption{
    opacity: 1;
    transition: all .8s ease;
      
    }
}

.portfolio__project--project1,
.portfolio__project--project2,
.portfolio__project--project3,
.portfolio__project--project4,
{
  transition: all 0.8s; 
  width: calc(50% - 20px);
  padding-bottom: 25px;
  margin-bottom: 50px;
  position: relative;
  top:0;
  img{
    max-width:100%;
    // border-radius: 5px 5px 0 0;
  }
}

.portfolio__project--project1:hover .portfolio__details h3,
.portfolio__project--project2:hover .portfolio__details h3,
.portfolio__project--project3:hover .portfolio__details h3,
.portfolio__project--project4:hover .portfolio__details h3{
  color: $primaryColor;
  transition: all 0.8s; 
}





.portfolio__project--project1:hover,
.portfolio__project--project2:hover,
.portfolio__project--project3:hover,
.portfolio__project--project4:hover,
{
  transform: scale(1.05);
  box-shadow: 2px 5px 25px 0px rgb(240, 239, 239);  
  h3{
    color:$primaryColor;
  }
}
.portfolio__project--project1,
.portfolio__project--project3{
  margin-right: 10px;
}

.portfolio__project--project2,
.portfolio__project--project4{
  margin-left: 10px;
}

#portfolio{
  .portfolio__details--technologies{
    @include parent-flex-row; 
    margin-top: 10px;
    justify-content: flex-start;
    text-align: center;
    text-transform: uppercase;
    color: $textColor;
    font-size: 13px;
    font-weight: bold; 
    letter-spacing: 5;
    li{
      padding-right:15px;
    }
  }
}
