@media (max-width:575px){
  #about h2,
  #portfolio h2,
  #skills h2,
  #contact h2{
    font-size: 2.5rem;
    transition: all 0.2s;
  }
}
// HEADER
@media (max-width:1010px){
  ul#menu{
    width: 40%; 
    right: -40%; 
  }
}

@media (max-width:650px){
  ul#menu{
    width: 50%; 
    right: -50%; 
  }
  #home h1{
  font-size: 3rem;
  transition:all 0.2s;
}
}
@media (max-width:575px){

  ul#menu{
    width: 100%; 
    right: -100%; 
    li{
      margin-bottom: 10%;
    }
  }
  ul#menu__social{
      display: inline-block;
      @include parent-flex-row;
      justify-content: flex-end;
      li{
        padding: 20px;
        i{
          color: white;
          font-size: 2rem;
          transition:all 0.2s;
        }
        i:hover{
          transform: scale(1.1)
        }
      }
    }

  header{
    
    .header__nav{
      margin-right:0;
      transition: all 0.2s;
    }
    .header__social{
      display: none;
    }
    .menu__button {
      width: 75px;
      transition: all 0.2s;
      h5{
        display:none;
      }
    }
  }
}

// ABOUT ME

@media (max-width:1040px){
 #about figure{
   img{
     max-width: 125%;
     margin: 15%;
 }
}
}
@media (max-width:850px){
 #about figure{
   img{
     max-width: 150%;
     margin: 0%;
  }
  }
}

@media (max-width:740px){
  #about{
    .wrapper{
      @include parent-flex-column;
    }
    .about__info{
      width: 100%;
    }
    figure{
      width: 40%;
      margin:auto;
      text-align: center;
    }
  }
}
// PORTFOLIO

@media (max-width:900px){
  #portfolio .wrapper{
    @include parent-flex-column;
  .portfolio__project--project1,
  .portfolio__project--project2,
  .portfolio__project--project3,
  .portfolio__project--project4{
    width:100%;
  }
  .portfolio__project--project2, 
  .portfolio__project--project4 {
    margin-left: 0px;
}
  .portfolio__project--project1, 
  .portfolio__project--project3 {
    margin-right: 0px;
}
  }

}
// SKILLS
@media (max-width:740px){
  #contact .wrapper{
    @include parent-flex-column;
      .contact__info,
      .form{
      width: 100%;
      padding-left:0;
      }
      .contact__info{
        margin-bottom: 50px;
      }
  }
}

//BRAND
@media (max-width:740px){
  #brand {  
    .brand__logos{  
      justify-content: space-between;
      text-align: center;
      img{
        
        width:33%;  
      }
    }
  }
}
@media (max-width:450px){

#portfolio {
.portfolio__details{
  .portfolio__details--live{
        display:block;
      }

}
}


  #home h1{
    padding-left:50px;
  }
  #portfolio{
    
    .portfolio__project--project1,
    .portfolio__project--project2,
    .portfolio__project--project3,
    .portfolio__project--project4,
    {
      box-shadow: 2px 5px 25px 0px rgb(240, 239, 239);  
  }
}
}

