article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button],
input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

header {
  background: #feffff; }
  header #header__intro {
    position: absolute;
    bottom: 15%;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 0 50px  50px 0;
    margin-right: 20%;
    padding-bottom: 30px; }
  header i {
    color: #92b2f2; }
  header h5,
  header .menu__button h5 {
    color: #92b2f2;
    display: inline-block;
    padding-left: 10px; }
  header .menu__button {
    background: #92b2f2;
    width: 150px;
    position: fixed;
    top: 40px;
    right: 15%;
    z-index: 1;
    -webkit-box-shadow: 0 0 0 0;
            box-shadow: 0 0 0 0; }
  header .menu__button i {
    color: white; }
  header .menu__button h5 {
    font-size: 14px;
    color: white; }

h1 {
  margin-top: 50px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s; }

.header__button--scroll {
  background: white;
  margin-top: 50px;
  margin-left: 100px;
  z-index: 1;
  -webkit-transition: all 0.2s;
  transition: all 0.2s; }

.header__button--scroll:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1); }

button {
  border: none;
  -webkit-box-shadow: 2px 5px 25px 0px #f0efef;
          box-shadow: 2px 5px 25px 0px #f0efef; }

.header__nav {
  margin-right: 125px;
  padding-top: 40px;
  padding-bottom: 25px; }

ul.header__social {
  margin-right: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end; }
  ul.header__social li {
    padding: 20px; }
    ul.header__social li i {
      color: #455a64;
      font-size: 2rem;
      -webkit-transition: all 0.2s;
      transition: all 0.2s; }
    ul.header__social li i:hover {
      color: #92b2f2;
      -webkit-transform: scale(1.1);
              transform: scale(1.1); }

ul#menu__social {
  display: none; }

#about {
  background: #f5f8fb;
  padding: 70px 0px; }
  #about .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row; }
  #about h2 {
    margin-top: 0; }

.about__info {
  width: 57%;
  line-height: 2;
  text-align: left; }

#about figure {
  width: 30%;
  margin: auto; }
  #about figure img {
    text-align: center;
    margin: 0 25%;
    border-radius: 50%;
    max-width: 100%;
    -webkit-box-shadow: 2px 5px 25px 0px #f0efef;
            box-shadow: 2px 5px 25px 0px #f0efef;
    border: 5px solid white; }

#portfolio {
  margin: 100px 0; }
  #portfolio .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  #portfolio h2 {
    text-align: center;
    margin: 50px; }
  #portfolio h3 {
    color: #455a64;
    margin: 10px 0px;
    font-size: 1.5rem; }
  #portfolio i {
    font-size: 50px;
    margin-bottom: 25px; }
  #portfolio figcaption h5 {
    text-transform: capitalize;
    font-size: 25px; }
  #portfolio .portfolio__details {
    padding: 50px;
    padding-bottom: 0; }
    #portfolio .portfolio__details p {
      margin-bottom: 25px; }
  #portfolio .portfolio__details--technologies {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    #portfolio .portfolio__details--technologies li {
      margin-bottom: 10px; }
      #portfolio .portfolio__details--technologies li i {
        font-size: 16px; }
      #portfolio .portfolio__details--technologies li a {
        color: #92b2f2; }
  #portfolio .portfolio__details--live {
    display: none; }

#portfolio figure {
  position: relative;
  background-color: #92b2f2; }
  #portfolio figure img {
    max-width: 100%;
    display: block;
    position: relative; }
  #portfolio figure figcaption {
    position: absolute;
    top: 30%;
    left: 0;
    width: 100%;
    text-align: center;
    opacity: 0;
    color: #fff;
    z-index: 1; }
    #portfolio figure figcaption a h5,
    #portfolio figure figcaption a:visited h5 {
      color: #fff; }
    #portfolio figure figcaption a i,
    #portfolio figure figcaption a:visited i {
      color: #fff; }

#portfolio figure:hover img {
  opacity: 0.25;
  -webkit-transition: all .8s ease;
  transition: all .8s ease; }

#portfolio figure:hover figcaption {
  opacity: 1;
  -webkit-transition: all .8s ease;
  transition: all .8s ease; }

.portfolio__project--project1,
.portfolio__project--project2,
.portfolio__project--project3,
.portfolio__project--project4 {
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  width: calc(50% - 20px);
  padding-bottom: 25px;
  margin-bottom: 50px;
  position: relative;
  top: 0; }
  .portfolio__project--project1 img,
  .portfolio__project--project2 img,
  .portfolio__project--project3 img,
  .portfolio__project--project4 img {
    max-width: 100%; }

.portfolio__project--project1:hover .portfolio__details h3,
.portfolio__project--project2:hover .portfolio__details h3,
.portfolio__project--project3:hover .portfolio__details h3,
.portfolio__project--project4:hover .portfolio__details h3 {
  color: #92b2f2;
  -webkit-transition: all 0.8s;
  transition: all 0.8s; }

.portfolio__project--project1:hover,
.portfolio__project--project2:hover,
.portfolio__project--project3:hover,
.portfolio__project--project4:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-box-shadow: 2px 5px 25px 0px #f0efef;
          box-shadow: 2px 5px 25px 0px #f0efef; }
  .portfolio__project--project1:hover h3,
  .portfolio__project--project2:hover h3,
  .portfolio__project--project3:hover h3,
  .portfolio__project--project4:hover h3 {
    color: #92b2f2; }

.portfolio__project--project1,
.portfolio__project--project3 {
  margin-right: 10px; }

.portfolio__project--project2,
.portfolio__project--project4 {
  margin-left: 10px; }

#portfolio .portfolio__details--technologies {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 10px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  text-align: center;
  text-transform: uppercase;
  color: #455a64;
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 5; }
  #portfolio .portfolio__details--technologies li {
    padding-right: 15px; }

#skills {
  background: #f5f8fb;
  padding: 125px 0 100px 0;
  text-align: center; }
  #skills h2 {
    margin-bottom: 50px; }
  #skills .skills__container {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    #skills .skills__container figure {
      width: 20%;
      padding: 5%;
      border-radius: 25px;
      -webkit-transition: all 0.2s;
      transition: all 0.2s; }
    #skills .skills__container figure:hover {
      -webkit-box-shadow: 2px 5px 25px 0px #f0efef;
              box-shadow: 2px 5px 25px 0px #f0efef; }

.skills__svg--firebase,
.skills__svg--firebaseColor {
  max-width: 100%; }

#skills figure .skills__svg--js,
#skills figure .skills__svg--jquery,
#skills figure .skills__svg--react,
#skills figure .skills__svg--git,
#skills figure .skills__svg--github,
#skills figure .skills__svg--html,
#skills figure .skills__svg--css3,
#skills figure .skills__svg--sass,
#skills figure .skills__svg--gulp,
#skills figure .skills__svg--firebase {
  z-index: 1;
  -webkit-transition: all 0.3s;
  transition: all 0.3s; }

#skills figure .skills__svg--jsColor,
#skills figure .skills__svg--jqueryColor,
#skills figure .skills__svg--reactColor,
#skills figure .skills__svg--gitColor,
#skills figure .skills__svg--githubColor,
#skills figure .skills__svg--htmlColor,
#skills figure .skills__svg--css3Color,
#skills figure .skills__svg--sassColor,
#skills figure .skills__svg--gulpColor,
#skills figure .skills__svg--firebaseColor {
  display: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s; }

#skills figure:hover .skills__svg--js,
#skills figure:hover .skills__svg--jquery,
#skills figure:hover .skills__svg--react,
#skills figure:hover .skills__svg--git,
#skills figure:hover .skills__svg--github,
#skills figure:hover .skills__svg--html,
#skills figure:hover .skills__svg--css3,
#skills figure:hover .skills__svg--sass,
#skills figure:hover .skills__svg--gulp,
#skills figure:hover .skills__svg--firebase {
  display: none; }

#skills figure:hover .skills__svg--jsColor,
#skills figure:hover .skills__svg--jqueryColor,
#skills figure:hover .skills__svg--reactColor,
#skills figure:hover .skills__svg--gitColor,
#skills figure:hover .skills__svg--githubColor,
#skills figure:hover .skills__svg--htmlColor,
#skills figure:hover .skills__svg--css3Color,
#skills figure:hover .skills__svg--sassColor,
#skills figure:hover .skills__svg--gulpColor,
#skills figure:hover .skills__svg--firebaseColor {
  display: inline-block; }

#skills figure:hover,
#skills figure:hover,
#skills figure:hover,
#skills figure:hover,
#skills figure:hover,
#skills figure:hover,
#skills figure:hover,
#skills figure:hover,
#skills figure:hover,
#skills figure:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1); }

#contact {
  padding: 150px 0px;
  color: #455a64;
  background: #feffff; }

#contact .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row; }
  #contact .wrapper .contact__info {
    width: 50%;
    padding-right: 4%; }
    #contact .wrapper .contact__info h2 {
      margin-bottom: 15px; }
    #contact .wrapper .contact__info p {
      margin: 10px 0px 30px 0px;
      margin-top: 5;
      line-height: 2; }
    #contact .wrapper .contact__info h4 {
      margin-top: 30px; }
  #contact .wrapper .form {
    width: 50%;
    padding-left: 4%; }
    #contact .wrapper .form input,
    #contact .wrapper .form textarea {
      font-size: 14px;
      display: block;
      margin-bottom: 25px;
      border: 1px solid #f0efef;
      width: 100%;
      padding: 12px;
      border-radius: 10px; }
    #contact .wrapper .form input:active,
    #contact .wrapper .form textarea:active,
    #contact .wrapper .form input:focus,
    #contact .wrapper .form textarea:focus {
      border: 1px solid #92b2f2;
      color: #92b2f2;
      -webkit-box-shadow: 1px solid #f0efef;
              box-shadow: 1px solid #f0efef; }
    #contact .wrapper .form button {
      color: #92b2f2;
      -webkit-transition: all 0.2s;
      transition: all 0.2s; }
    #contact .wrapper .form button:hover {
      color: #92b2f2;
      -webkit-transform: scale(1.1);
              transform: scale(1.1); }

#contact .contact__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row; }
  #contact .contact__social li {
    padding-right: 40px; }
    #contact .contact__social li i {
      color: #455a64;
      font-size: 2rem;
      -webkit-transition: all 0.2s;
      transition: all 0.2s; }
    #contact .contact__social li i:hover {
      color: #92b2f2;
      -webkit-transform: scale(1.1);
              transform: scale(1.1); }

#brand {
  padding: 50px 0;
  background: #f5f8fb; }
  #brand ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    #brand ul img {
      width: 100px; }

footer {
  background: #f5f8fb;
  text-align: center;
  padding: 10px; }
  footer h4 {
    font-size: 1rem;
    color: #455a64; }

@media (max-width: 575px) {
  #about h2,
  #portfolio h2,
  #skills h2,
  #contact h2 {
    font-size: 2.5rem;
    -webkit-transition: all 0.2s;
    transition: all 0.2s; } }

@media (max-width: 1010px) {
  ul#menu {
    width: 40%;
    right: -40%; } }

@media (max-width: 650px) {
  ul#menu {
    width: 50%;
    right: -50%; }
  #home h1 {
    font-size: 3rem;
    -webkit-transition: all 0.2s;
    transition: all 0.2s; } }

@media (max-width: 575px) {
  ul#menu {
    width: 100%;
    right: -100%; }
    ul#menu li {
      margin-bottom: 10%; }
  ul#menu__social {
    display: inline-block;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end; }
    ul#menu__social li {
      padding: 20px; }
      ul#menu__social li i {
        color: white;
        font-size: 2rem;
        -webkit-transition: all 0.2s;
        transition: all 0.2s; }
      ul#menu__social li i:hover {
        -webkit-transform: scale(1.1);
                transform: scale(1.1); }
  header .header__nav {
    margin-right: 0;
    -webkit-transition: all 0.2s;
    transition: all 0.2s; }
  header .header__social {
    display: none; }
  header .menu__button {
    width: 75px;
    -webkit-transition: all 0.2s;
    transition: all 0.2s; }
    header .menu__button h5 {
      display: none; } }

@media (max-width: 1040px) {
  #about figure img {
    max-width: 125%;
    margin: 15%; } }

@media (max-width: 850px) {
  #about figure img {
    max-width: 150%;
    margin: 0%; } }

@media (max-width: 740px) {
  #about .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  #about .about__info {
    width: 100%; }
  #about figure {
    width: 40%;
    margin: auto;
    text-align: center; } }

@media (max-width: 900px) {
  #portfolio .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    #portfolio .wrapper .portfolio__project--project1,
    #portfolio .wrapper .portfolio__project--project2,
    #portfolio .wrapper .portfolio__project--project3,
    #portfolio .wrapper .portfolio__project--project4 {
      width: 100%; } }

@media (max-width: 740px) {
  #contact .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    #contact .wrapper .contact__info,
    #contact .wrapper .form {
      width: 100%;
      padding-left: 0; }
    #contact .wrapper .contact__info {
      margin-bottom: 50px; } }

@media (max-width: 740px) {
  #brand .brand__logos {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    text-align: center; }
    #brand .brand__logos img {
      width: 33%; } }

@media (max-width: 450px) {
  #portfolio .portfolio__details .portfolio__details--live {
    display: block; }
  #home h1 {
    padding-left: 50px; }
  #portfolio .portfolio__project--project1,
  #portfolio .portfolio__project--project2,
  #portfolio .portfolio__project--project3,
  #portfolio .portfolio__project--project4 {
    -webkit-box-shadow: 2px 5px 25px 0px #f0efef;
            box-shadow: 2px 5px 25px 0px #f0efef; } }

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

html {
  font-family: "Montserrat", sans-serif; }

body {
  background: #feffff; }

.wrapper {
  width: 80%;
  margin: 0 auto;
  position: relative;
  left: 0%;
  margin-top: -0px; }

#about {
  left: 0%; }

ul.menu {
  background: #92b2f2;
  position: fixed;
  z-index: 2;
  width: 30%;
  right: -30%;
  top: 0;
  height: 100%;
  -webkit-transition: all 0.5s;
  transition: all 0.5s; }
  ul.menu li {
    margin-bottom: 15%;
    padding-right: 10%; }

input#toggle-menu:checked + ul.menu {
  right: 0%; }

input#toggle-menu {
  display: none; }

input#toggle-menu:checked ~ .container {
  opacity: 0.5; }

button.close__button {
  -webkit-box-shadow: 0 0 0 0;
          box-shadow: 0 0 0 0;
  width: 150px; }

.menu button {
  margin-top: 40px;
  width: 150px;
  margin-left: 10%;
  background: white;
  color: #455a64; }
  .menu button i,
  .menu button h5 {
    display: inline-block;
    outline: none; }
  .menu button i {
    padding-right: 10px; }

.menu a h3 {
  color: white;
  text-align: right;
  -webkit-transition: all 0.2s;
  transition: all 0.2s; }

.menu h3:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1); }

button {
  padding: 10px;
  height: 60px;
  width: 200px;
  border-radius: 50px; }

ul {
  list-style-type: none;
  padding: 0; }

a {
  text-decoration: none; }

h1 {
  color: #92b2f2;
  font-size: 3.75rem;
  padding-left: 100px; }

h2 {
  font-size: 3rem;
  color: #455a64; }

h3 {
  font-size: 1.7rem; }

h4 {
  font-size: 1.7rem; }

h5 {
  text-transform: uppercase; }

p {
  color: #455a64;
  font-size: 14px;
  line-height: 2; }

#particles-border {
  border-radius: 50px; }

#particles-js {
  background: #fff;
  height: 750px;
  width: 100%;
  border-radius: 50px; }
